{
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.md",
            "options": {
                "proseWrap": "never"
            }
        },
        {
            "files": "*.mdc",
            "options": {
                "proseWrap": "never",
                "parser": "markdown"
            }
        }
    ]
}
